
@{
    ViewBag.Title = "ChangePassword_Successfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align:center">
    <br><br><br>
<p class="btn-success">Your Password has been changes successfully. Click <a href="@Url.Action("Login","Account")">here</a> to Login.
</div>