
@{
    ViewBag.Title = "Gallery_AGM_9";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            text-align: center;
            padding: 32px;
        }

        .row {
            display: -ms-flexbox; /* IE 10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE 10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            -ms-flex: 25%; /* IE 10 */
            flex: 25%;
            padding: 0 4px;
        }

            .column img {
                margin-top: 8px;
                vertical-align: middle;
                border: 5px solid #000;
                padding: 0;
            }

        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 10px 16px;
            background-color: #f1f1f1;
            cursor: pointer;
            font-size: 18px;
        }

            .btn:hover {
                background-color: aliceblue;
            }

            .btn.active {
                background-color: cornflowerblue;
                color: white;
            }
    </style>
</head>
<body>

    <!-- Header -->
    <div class="header" id="myHeader">
        <h1>AGM 9</h1>
        <p>Click on the buttons to change the grid view.</p>
        <button class="btn" onclick="one()">1</button>
        <button class="btn" onclick="two()">2</button>
        <button class="btn" onclick="four()">4</button>
    </div>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (1).JPG" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (3).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (4).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (5).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (6).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (7).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (8).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (9).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (10).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (11).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (12).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (13).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (14).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (15).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (16).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (17).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (18).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (19).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (20).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (21).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (22).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (23).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (24).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (25).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (26).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (27).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (28).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (29).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (30).jpg" style="width:100%">
            

        </div>



        <div class="column">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (31).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (32).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (33).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (34).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (35).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (36).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (37).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (38).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (39).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (40).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (41).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (42).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (43).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (44).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (45).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (46).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (47).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (48).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (49).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (50).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (51).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (52).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (53).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (54).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (55).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (56).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (57).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (58).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (59).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (60).jpg" style="width:100%">
            

        </div>

        <div class="column">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (61).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (62).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (63).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (64).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (65).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (66).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (67).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (68).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (69).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (70).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (71).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (72).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (73).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (74).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (75).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (76).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (77).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (78).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (79).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (80).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (81).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (82).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (83).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (84).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (85).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (86).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (87).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (88).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (89).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (90).jpg" style="width:100%">
            
        </div>

        <div class="column">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (91).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (92).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (93).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (94).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (95).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (96).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (97).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (98).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (100).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (101).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (102).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (103).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (104).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (105).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (106).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (107).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (108).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (109).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (110).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (111).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (112).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (113).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (114).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (115).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (116).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (117).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (118).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (119).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (120).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_9/AGM_9 (121).jpg" style="width:100%">
           


        </div>
    </div>

    <script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// Full-width images
function one() {
    for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "100%";  // IE10
    elements[i].style.flex = "100%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "50%";  // IE10
    elements[i].style.flex = "50%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "25%";  // IE10
    elements[i].style.flex = "25%";
  }
}

// Add active class to the current button (highlight it)
var header = document.getElementById("myHeader");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.remove("active");
        this.className += " active";

    });
}
    </script>

</body>
</html>


