
@{
    ViewBag.Title = "Gallery_AGM_6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            text-align: center;
            padding: 32px;
        }

        .row {
            display: -ms-flexbox; /* IE 10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE 10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            -ms-flex: 25%; /* IE 10 */
            flex: 25%;
            padding: 0 4px;
        }

            .column img {
                margin-top: 8px;
                vertical-align: middle;
                border: 5px solid #000;
                padding: 0;
            }

        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 10px 16px;
            background-color: #f1f1f1;
            cursor: pointer;
            font-size: 18px;
        }

            .btn:hover {
                background-color: aliceblue;
            }

            .btn.active {
                background-color: cornflowerblue;
                color: white;
            }
    </style>
</head>
<body>

    <!-- Header -->
    <div class="header" id="myHeader">
        <h1>AGM 6</h1>
        <p>Click on the buttons to change the grid view.</p>
        <button class="btn" onclick="one()">1</button>
        <button class="btn" onclick="two()">2</button>
        <button class="btn" onclick="four()">4</button>
    </div>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (1).JPG" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (3).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (4).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (5).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (6).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (7).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (8).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (9).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (10).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (11).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (12).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (13).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (14).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (15).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (16).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (17).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (18).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (19).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (20).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (21).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (22).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (23).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (24).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (25).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (26).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (27).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (28).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (29).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (30).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (31).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (32).jpg" style="width:100%">

        </div>



        <div class="column">
            
            <img src="~/Content/Gallery/AGM_6/AGM_6 (33).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (34).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (35).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (36).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (37).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (38).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (39).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (40).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (41).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (42).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (43).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (44).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (45).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (46).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (47).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (48).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (49).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (50).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (51).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (52).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (53).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (54).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (55).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (56).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (57).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (58).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (59).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (60).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (61).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (62).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (63).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (64).jpg" style="width:100%">

        </div>

        <div class="column">
            
            <img src="~/Content/Gallery/AGM_6/AGM_6 (65).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (66).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (67).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (68).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (69).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (70).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (71).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (72).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (73).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (74).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (75).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (76).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (77).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (78).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (79).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (80).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (81).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (82).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (83).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (84).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (85).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (86).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (87).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (88).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (89).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (90).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (91).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (92).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (93).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (94).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (95).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (96).jpg" style="width:100%">
        </div>

        <div class="column">
            
            <img src="~/Content/Gallery/AGM_6/AGM_6 (97).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (98).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (100).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (101).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (102).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (103).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (104).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (105).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (106).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (107).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (108).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (109).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (110).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (111).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (112).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (113).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (114).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (115).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (116).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (117).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (118).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (119).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (120).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (121).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (122).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (123).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (124).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (125).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (126).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_6/AGM_6 (127).jpg" style="width:100%">


        </div>
    </div>

    <script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// Full-width images
function one() {
    for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "100%";  // IE10
    elements[i].style.flex = "100%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "50%";  // IE10
    elements[i].style.flex = "50%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "25%";  // IE10
    elements[i].style.flex = "25%";
  }
}

// Add active class to the current button (highlight it)
var header = document.getElementById("myHeader");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.remove("active");
        this.className += " active";

    });
}
    </script>

</body>
</html>


