@{
        ViewBag.Title = "Gallery_AGM_3";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            text-align: center;
            padding: 32px;
        }

        .row {
            display: -ms-flexbox; /* IE 10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE 10 */
            flex-wrap: wrap;
            padding: 0 4px;
            
        }

        /* Create two equal columns that sits next to each other */
        .column {
            -ms-flex: 25%; /* IE 10 */
            flex: 25%;
            padding: 0 4px;
            
        }

            .column img {
                margin-top: 8px;
                vertical-align: middle;
                border: 5px solid #000;
                padding: 0;
            }

        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 10px 16px;
            background-color: #f1f1f1;
            cursor: pointer;
            font-size: 18px;
        }

            .btn:hover {
                background-color: aliceblue;
            }

            .btn.active {
                background-color: cornflowerblue;
                color: white;
            }
    </style>
</head>
<body>

    <!-- Header -->
    <div class="header" id="myHeader">
        <h1>AGM 3</h1>
        <p>Click on the buttons to change the grid view.</p>
        <button class="btn" onclick="one()">1</button>
        <button class="btn" onclick="two()">2</button>
        <button class="btn" onclick="four()">4</button>
    </div>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (1).JPG" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (3).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (4).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (5).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (6).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (7).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (8).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (9).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (10).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (11).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (12).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (13).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (14).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (15).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (16).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (17).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (18).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (19).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (20).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (21).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (22).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (23).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (24).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (25).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (26).jpg" style="width:100%">


        </div>



        <div class="column">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (27).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (28).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (29).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (30).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (31).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (32).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (33).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (34).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (35).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (36).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (37).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (38).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (39).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (40).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (41).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (42).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (43).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (44).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (45).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (46).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (47).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (48).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (49).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (50).jpg" style="width:100%">

        </div>

        <div class="column">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (51).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (52).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (53).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (54).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (55).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (56).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (57).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (58).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (59).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (60).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (61).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (62).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (63).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (64).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (65).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (66).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (67).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (68).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (69).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (70).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (71).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (72).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (73).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (74).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (75).jpg" style="width:100%">
        </div>

        <div class="column">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (76).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (77).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (78).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (79).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (80).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (81).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (82).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (83).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (84).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (85).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (86).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (87).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (88).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (89).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (90).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (91).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (92).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (93).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (94).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (95).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (96).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (97).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (98).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (100).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (101).jpg" style="width:100%">
            <img src="~/Content/Gallery/AGM_3/AGM_3 (102).jpg" style="width:100%">
           

        </div>
    </div>

    <script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// Full-width images
function one() {
    for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "100%";  // IE10
    elements[i].style.flex = "100%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "50%";  // IE10
    elements[i].style.flex = "50%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "25%";  // IE10
    elements[i].style.flex = "25%";
  }
}

// Add active class to the current button (highlight it)
var header = document.getElementById("myHeader");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.remove("active");
        this.className += " active";

    });
}
    </script>

</body>
</html>


