

@{
    ViewBag.Title = "Gallery_Opening_Ceremony";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            text-align: center;
            padding: 32px;
        }

        .row {
            display: -ms-flexbox; /* IE 10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE 10 */
            flex-wrap: wrap;
            padding: 0 4px;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            -ms-flex: 25%; /* IE 10 */
            flex: 25%;
            padding: 0 4px;
        }

            .column img {
                margin-top: 8px;
                vertical-align: middle;
                border: 5px solid #000;
                padding: 0;
            }

        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 10px 16px;
            background-color: #f1f1f1;
            cursor: pointer;
            font-size: 18px;
        }

            .btn:hover {
                background-color: aliceblue;
            }

            .btn.active {
                background-color: cornflowerblue;
                color: white;
            }
    </style>
</head>
<body>

    <!-- Header -->
    <div class="header" id="myHeader">
        <h1>Opening Ceremony</h1>
        <p>Click on the buttons to change the grid view.</p>
        <button class="btn" onclick="one()">1</button>
        <button class="btn" onclick="two()">2</button>
        <button class="btn" onclick="four()">4</button>
    </div>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (1).JPG" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (3).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (4).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (5).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (6).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (7).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (8).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (9).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (10).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (11).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (12).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (13).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (14).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (15).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (16).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (17).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (18).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (19).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (20).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (21).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (22).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (23).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (24).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (25).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (26).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (27).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (28).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (29).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (30).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (31).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (32).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (33).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (34).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (35).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (36).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (37).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (38).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (39).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (40).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (41).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (42).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (43).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (44).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (45).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (46).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (47).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (48).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (49).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (50).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (51).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (52).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (53).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (54).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (55).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (56).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (57).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (58).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (59).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (60).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (61).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (62).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (63).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (64).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (65).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (66).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (67).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (68).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (69).jpg" style="width:100%">
            

        </div>


        <div class="column">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (70).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (71).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (72).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (73).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (74).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (75).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (76).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (77).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (78).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (79).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (80).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (81).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (82).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (83).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (84).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (85).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (86).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (87).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (88).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (89).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (90).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (91).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (92).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (93).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (94).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (95).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (96).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (97).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (98).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (99).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (100).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (101).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (102).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (103).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (104).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (105).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (106).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (107).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (108).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (109).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (110).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (111).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (112).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (113).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (114).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (115).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (116).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (117).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (118).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (119).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (120).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (121).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (122).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (123).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (124).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (125).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (126).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (127).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (128).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (129).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (130).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (131).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (132).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (133).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (134).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (135).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (136).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (137).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (138).jpg" style="width:100%">
            

        </div>

        <div class="column">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (139).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (140).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (141).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (142).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (143).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (144).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (145).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (146).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (147).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (148).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (149).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (150).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (151).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (152).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (153).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (154).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (155).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (156).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (157).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (158).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (159).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (160).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (161).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (162).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (163).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (164).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (165).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (166).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (167).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (168).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (169).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (170).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (171).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (172).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (173).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (174).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (175).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (176).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (177).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (178).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (179).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (180).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (181).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (182).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (183).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (184).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (185).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (186).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (187).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (188).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (189).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (190).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (191).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (192).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (193).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (194).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (195).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (196).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (197).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (198).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (199).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (200).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (201).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (202).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (203).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (204).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (205).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (206).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (207).jpg" style="width:100%">
            

        </div>

        <div class="column">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (208).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (209).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (210).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (211).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (212).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (213).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (214).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (215).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (216).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (217).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (218).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (219).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (220).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (221).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (222).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (223).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (224).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (225).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (226).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (227).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (228).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (229).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (230).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (231).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (232).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (233).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (234).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (235).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (236).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (237).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (238).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (239).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (240).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (241).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (242).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (243).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (244).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (245).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (246).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (247).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (248).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (249).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (250).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (251).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (252).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (253).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (254).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (255).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (256).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (257).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (258).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (259).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (260).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (261).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (262).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (263).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (264).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (265).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (266).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (267).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (268).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (269).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (270).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (271).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (272).jpg" style="width:100%">
            <img src="~/Content/Gallery/Opening_Ceremony/Opening_Ceremony (273).jpg" style="width:100%">
            

        </div>
    </div>

    <script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// Full-width images
function one() {
    for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "100%";  // IE10
    elements[i].style.flex = "100%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "50%";  // IE10
    elements[i].style.flex = "50%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "25%";  // IE10
    elements[i].style.flex = "25%";
  }
}

// Add active class to the current button (highlight it)
var header = document.getElementById("myHeader");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.remove("active");
        this.className += " active";

    });
}
    </script>

</body>
</html>





